<!DOCTYPE html>

<head>
	<link href="/normalize.css" rel="stylesheet"> 
	<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
	<title> Resume: Ryan Anderson</title>
</head>

<header>
  <h1>Ryan Anderson</h1>
  <h3>Developer</h3>
</header>

<body>
 <div class="clearfix"> 
  <div class="column">
	<ul>
	  <li> <a href="#">About Me</a></li>
	  <li> <a href="#">Education</a></li>
	  <li> <a href="#">Experience</a></li>
	  <li> <a href="#">References</a></li>
	</ul>
	<div class="clr"></div>
  </div>


 <div class="content">
  <p>About me <br />
  	<small>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi non quis exercitationem culpa nesciunt nihil aut nostrum explicabo reprehenderit optio amet ab temporibus asperiores quasi cupiditate. Voluptatum ducimus voluptates voluptas?</small>
  </p>
 </div>

 <div class="content">
  <p>Education <br />
  	<small>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi non quis exercitationem culpa nesciunt nihil aut nostrum explicabo reprehenderit optio amet ab temporibus asperiores quasi cupiditate. Voluptatum ducimus voluptates voluptas?</small>
  </p>
 </div>

 <div class="content">
  <p>Experience <br />
  	<small>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi non quis exercitationem culpa nesciunt nihil aut nostrum explicabo reprehenderit optio amet ab temporibus asperiores quasi cupiditate. Voluptatum ducimus voluptates voluptas?</small>
  </p>
 </div>

 <div class="content">
   <p>References <br />
      Paul Garven (co-worker): (780)-828-1111<br />
  	  Paul CWC (owner of CWWC): (416)- 721-1111<br />
      Someone at Bitmaker: (416-967-11-11
   </p>
 </div>
</div>

<div class="footer">
<p>Contact <br/>
	<small>mobile: (647)-333-8723 <br/>
	e-mail: hotmail@gmail.com</small>
</p>
</div>

</body>