<!DOCTYPE html>

<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <link href="/normalize.css" rel="stylesheet"> 
	<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
	<title> Resume: Ryan Anderson</title>
</head>

<header>
  <h1>Ryan Anderson</h1>
  <h3>Developer</h3>
</header>

<body>
 <div class="clearfix"> 
  <div class="column">
	 <ul>
	   <li id="about"> <span>About Me</span> </li>
	   <li id='education'> <span>Education</span></li>
	   <li id='info'> <span>Experience</span></li>
	   <li id='ref'> <span>References</span></li>
	 </ul>
	<div class="clr"></div>
 </div>


 <div id="content1" class="content show-description">
  <p>About me <br />
  	 <small>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi non quis exercitationem culpa nesciunt nihil aut nostrum explicabo reprehenderit optio amet ab temporibus asperiores quasi cupiditate. Voluptatum ducimus voluptates voluptas?</small>
  </p>
 </div>

 <div id="content2" class="content" >
  <p>Education <br />
  	 <small>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi non quis exercitationem culpa nesciunt nihil aut nostrum explicabo reprehenderit optio amet ab temporibus asperiores quasi cupiditate. Voluptatum ducimus voluptates voluptas?</small>
  </p>
 </div>

 <div id="content3" class="content">
  <p>Experience <br />
  	 <small>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi non quis exercitationem culpa nesciunt nihil aut nostrum explicabo reprehenderit optio amet ab temporibus asperiores quasi cupiditate. Voluptatum ducimus voluptates voluptas?</small>
  </p>
 </div>

 <div id="content4" class="content">
   <p>References <br />
      Paul Garven (co-worker): (780)-828-1111<br />
  	  Paul CWC (owner of CWWC): (416)- 721-1111<br />
      Someone at Bitmaker: (416-967-11-11
   </p>
 </div>
</div>


<div class="footer">
  <p>Contact <br/>
	   <small>mobile: (647)-333-8723 <br/>
	   e-mail: hotmail@gmail.com</small>
  </p>
</div>

<script>

$("li#about").hover(function(){
      $("#content1").toggle();
});

$("li#education").hover(function() {
      $("#content2").toggle();
});

$("li#info").hover(function() {
      $("#content3").toggle();
});

$("li#ref").hover(function() {
      $("#content4").toggle();
});
</script>

</body>