<!DOCTYPE html>
<head>

   <link href="/normalize.css" rel="stylesheet">
   <title> Resume: Ryan Anderson</title>

<style>
</style>

</head>
  <header>
  </header>

<body>

  	<h1>Resume</h1>
   <ul>
    <li>Experience</li>
    <li>Education</li>
    <li>Attributes</li>
  </ul>

<div class="wrapper">

 <div class= "backdrop">
  <p>
    Experience <br>
    <small> 
    	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi non quis exercitationem culpa nesciunt nihil aut nostrum explicabo reprehenderit optio amet ab temporibus asperiores quasi cupiditate. Voluptatum ducimus voluptates voluptas?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi non quis exercitationem culpa nesciunt nihil aut nostrum explicabo reprehenderit optio amet ab temporibus asperiores quasi cupiditate. Voluptatum ducimus voluptates voluptas?
    </small>
  </p>
  </div>

  <div class="backdrop">
  <p>
  	Education <br>
  	<small>
  		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi non quis exercitationem culpa nesciunt nihil aut nostrum explicabo reprehenderit optio amet ab temporibus asperiores quasi cupiditate. Voluptatum ducimus voluptates voluptas?
  	</small>
  </p>
  </div>

  <div class="backdrop">
  	<p>
  	  Attributes <br>
  	  <small>
  	  	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi non quis exercitationem culpa nesciunt nihil aut nostrum explicabo reprehenderit optio amet ab temporibus asperiores quasi cupiditate. Voluptatum ducimus voluptates voluptas?
      </small>

  	</p>

  </div>
</div>

<p>Stuff for stuff layout blah blah blah</p>
</body>


